grpcio==1.59.0
grpcio-tools==1.59.0
protobuf==4.24.4
prompt-toolkit==3.0.19
lmdb==1.4.1
numpy==1.26.1
opencv-python==4.8.1.78
Pillow==10.0.1
pyyaml==6.0.1
requests==2.31.0
simber==0.2.6
torch==2.1.0
torchvision==0.16.0
tqdm==4.66.1